<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
            <a href="/admin/index" class="navbar-brand font-weight-bold"><h2>SDRM ADMIN</h2></a>
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent"
                aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {{#if user}}
        <div class="collapse navbar-collapse justify-content-center" id="navContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/index">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Users</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/records">Milk records</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/rates">Rates</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/reports">Reports</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/messages">Messages</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/faqs">Faqs</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <span class="navbar-text">{{user.firstname}} logged in</span>
                <li class="nav-item">
                    <a type="button" class="btn btn-primary ml-2" href="/admin/logout">Logout</a>
                </li>
            </ul>
        </div>
        {{/if}}
    </div>
</nav>