{{#if message }}
    {{#each message}}
        <div class="alert alert-{{@key}} alert-dismissible fade show" role="alert">
            {{ this }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/each}}
{{/if}}

{{#if errors }}
    <div class="alert alert-danger" role="alert">
        {{#if errors.error}}{{errors.error}}{{else}}Please correct the errors below{{/if}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/if}}
