{{>nav}}

<div class="container-fluid pt-3">
    <div class="text-center">
        <h1 class="display-4">Simple Dairy Records Manager</h1>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">About</h4>
                </div>
                <div class="card-body">
                    <p>
                    SDRM is a system which simplifies dairy record keeping and management. Dairy firm
                    can register farmers and milk collectors in the system. Milk collectors then enter
                    farmer milk deliveries directly in the system while farmers can view their records
                    as well. The admin can manage all records and users.
                    </p>
                </div>
            </div>
            <br>
            {{> faqs }}
        </div>

        <div class="col-md-5">
            {{> contact_us }}
        </div>
    </div>
</div>

{{> scripts }}

{{> footer }}
